:host {
  display: block;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.header-container {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.835);

  button {
    font-size: 16px;
    margin: 4px 2px;
  }
}

.k-button.k-selected, .k-button.k-active {
  background-color: #3d3d3d !important;
  color: white !important;
}

.k-button.k-primary {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}

.k-button-group {
  box-shadow: none !important;
}

.k-button-group > .k-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
}
