
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 10; 
  box-sizing: border-box;
  overflow: hidden; 
}

:host ::ng-deep body {
  overflow: hidden !important;
}

.page_404 {
  width: 55%;
  max-height: 90vh;
  overflow: hidden; 
  margin-bottom: 60px; 
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  display: inline-block;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  color: white !important;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0;
  text-decoration: none;
  
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.97;
  }
}

.contant_box_404 {
  margin-top: -59px;
}