:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.container {
  padding: 20px;
}

button[kendoButton] {
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  color: white !important;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.97;
  }

  &:disabled {
    background-color: #eaeaea !important;
    border-color: #eaeaea !important;
    color: #3d3d3d !important;
  }
}

.k-input-solid {
    background: white !important;
    border: 1px solid #C2CAD6 !important;
    border-radius: 10px !important;
    transition: border-color 0.2s ease;
}

.k-focus{
  border: 1px solid #3d3d3d !important;
}

.ng-invalid.ng-touched .k-input-inner,
.ng-invalid.ng-touched.k-input,
.ng-invalid.ng-touched {
  border-color: #dc3545 !important; 
}

.k-button .k-disabled {
  border: 1px solid black !important;
  background: red !important;
}

.k-button  {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.k-textarea{
  min-height: 45px;
}