<div class="configure-container">
  <h1>Form Configuration</h1>
  <div class="grid-wrapper">
    <div class="grid-container">
      <kendo-grid
        [kendoGridBinding]="formFieldsConfig"
        [rowReorderable]="true"
        (dragend) = "onDragEnd($event)"
        class="custom-grid"
      >
        <kendo-grid-rowreorder-column [width]="20"></kendo-grid-rowreorder-column>

        <kendo-grid-column field="label" title="SHOW FIELD" [width]="130">
          <ng-template kendoGridCellTemplate let-dataItem let-index="index">
            <div class="checkbox-wrapper">
              <kendo-checkbox
                [(ngModel)]="dataItem.show"
              ></kendo-checkbox>
              <span>{{ dataItem.label }}</span>
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="required" title="REQUIRED FIELD"
        class="required-field" [width]="80">
          <ng-template kendoGridCellTemplate let-dataItem let-index="index">
            <kendo-checkbox
              [(ngModel)]="dataItem.required"
              [disabled]="!dataItem.show"
            ></kendo-checkbox>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>

      <div class="button-container">
        <button kendoButton (click)="saveConfig()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
